.prevision-line-container{
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
}
.prevision-line-time{
    color: rgba(135, 135, 135, 0.6);
}
.prevision-line-description{
    color: rgba(135, 135, 135, 0.6);
}
.prevision-line-temperature{
    color: #fc6aa1;
    font-size: 1.4em;
    font-weight: 400;
}