.city-container{
    background-color: #fc6aa1;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNmOTQ5YjYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmOGI4YiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(249, 73, 182)),color-stop(1, rgb(255, 139, 139)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(top left,rgb(249, 73, 182) 0%,rgb(255, 139, 139) 100%);
    /* IE10+ */
    background-image: linear-gradient(to bottom right,rgb(249, 73, 182) 0%,rgb(255, 139, 139) 100%);
    background-image: -ms-linear-gradient(top left,rgb(249, 73, 182) 0%,rgb(255, 139, 139) 100%);

    color: #FFF;

    height: 100vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.date{
    position: absolute;
    top: 5vh;
    left: 5vw;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
}