.statistic-cell-container{
    display: flex;
	flex-direction: column;
}

.statistic-cell-icn{
    display: flex;
    font-size: 5em;
}

.statistic-cell-content{
    display: flex;
    justify-content: center;
    padding: 25% 0;
    font-size: 1.1em;
    color: #B3B3B3;
    font-weight: 400;
}